<div class="container">
    <div class="left">
        <div class="centered">
            <h1>Alex Parra</h1>
            <h2><a href="https://www.linkedin.com/in/alex-parra">LinkedIn</a></h2>
            <h2><a href="https://github.com/soyalexx">GitHub</a></h2>
            <h2><a href="https://500px.com/alexanderparra">500px</a></h2>
        </div>
    </div>
    <div class="right">
        <div class="centered">
            <h2>Computer Science</h2><br/>
            <h3>University of California, Berkeley</h3>
        </div>
    </div>
</div>