<div class="container">
    <style>
        left {
            position: absolute;
            width: 50vw;
            left: 50%;
            top: 50%;
            text-align: right;
            transform: translate(-50%, -50%);
        }
    </style>
    <div class="left">
            <h1>Alex Parra</h1>
            <h2>Computer Science and Chicano Studies</h2><br/>
            <h3>University of California, Berkeley</h3>
    </div>
<!--    <div class="right">-->
<!--        <div class="centered">-->
<!--            <h2><a href="https://www.linkedin.com/in/alex-parra">LinkedIn</a></h2><br/>-->
<!--            <h2><a href="https://github.com/soyalexx">GitHub</a></h2><br/>-->
<!--            <h2><a href="https://500px.com/alexanderparra">500px</a></h2><br/>-->
<!--        </div>-->
<!--    </div>-->
</div>