<div class="container" id="slideHolder">
    <card class="shoes-pic">
        <div class="inner">
            <h1 id="header1">Alex Parra</h1>
            <h2 id="text1">University of California, Berkeley</h2>
            <h3 id="text2">Computer Science</h3>

        </div>
    </card>
    <card class="beach-pic">
        <div class="inner">
            <h1 id="headerA-1">Code Evangelist</h1>
            <h2 id="textA-1"><a href="https://codeday.org">CodeDay</a><img id="CodeDayLogo" src="/assets/CodeDayLogo.png" width="25px"/></h2>
        </div>
    </card>
</div>

<div id="buttons">
    <i id="next" class="fa fa-chevron-right" aria-hidden="true"></i>
    <i id="prev" class="fa fa-chevron-left" aria-hidden="true"></i>
</div>

<style>
    #header1 {
        font-family: ff-market-web, sans-serif;
        top: 25%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    #text1 {
        bottom: 25%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    #text2 {
        bottom: 25%;
        left: 50%;
        transform: translate(-50%,calc(-50% + 30px));
        padding-top: 30px;
    }
    #headerA-1 {
        top: 50%;
        left: 50%;
        transform: translate(-50%, calc(-60%));
    }
    #textA-1 {
         top: 50%;
         left: 50%;
         transform: translate(-50%, calc(60%));
     }
    #CodeDayLogo {
        padding-left: 5px;
        transform: translate(0, 5px);
    }
</style>

<script>
    $(document).ready(function() {
       var currentSlide = 0;
       var cards = $("card");

       cards.each(function(i) {
          if (i !== currentSlide) {
              $(this).hide();
          }
       });

       $("#next").click(function(e) {
           var previousSlide = currentSlide;
           if (currentSlide === cards.length-1) {
               currentSlide = 0;
           } else {
               currentSlide++;
           }
           cards.each(function(i) {
               if (i === currentSlide) {
                   $(this).fadeIn(500);
               } else if(i === previousSlide) {
                   $(this).fadeOut(500);
               }
           });
       });
       $("#prev").click(function (e) {
            var previousSlide = currentSlide;
            if (currentSlide === 0) {
                currentSlide = cards.length-1;
            } else {
                currentSlide--;
            }
            cards.each(function (i) {
                if (i === currentSlide) {
                    $(this).fadeIn(500);
                } else if(i === previousSlide) {
                    $(this).fadeOut(500);
                }
            });
       });
    });
</script>