body {
    background: #ecfffc;
    padding: 0;
}

h1 {
    font-family: arbotek, serif;
    font-weight: 900;
    font-size: 5em;
    text-align: left;
    color: black;
}

h2 {
    font-size: 1.75em;
}

h2 a {
    transition: .6s;
    font-family: bebas-neue-pro, sans-serif;
    color: black;
}
h2 a:hover {
    font-size: 2em;
}

h3 {
    font-family: bebas-neue-pro, sans-serif;
    font-size: 1.5em;
    transition: .6s;
}

a {
    text-decoration: none;
    font-family: inherit;
}

p {
    padding: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    color: black;
}

.right {
    position: absolute;
    top: 0;
    right: 0;
    display: inline;
    width: 75vw;
    height: 100vh;
    background-color: rgba(0,0,0,0);
    background-size: cover;
    z-index: 10;
}
#images{
    z-index: 0;
}

.right .centered {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
}

.right .centered h2, .right .centered h3 {
    background-color: #ecfffc;
    text-align: left;
    display: inline;
    padding: 0 5px;
}