h1, h2, h3 {
    font-family: prohibition, sans-serif;
    font-weight: 400;
    text-align: center;
    background-color: #002854;
    display: inline-block;
    padding: 5px;
    margin-bottom: 10px;
}


h2 a {
    color: #FDB515;
    text-decoration: none;
    font-family: bebas-neue-pro, sans-serif;
}

.container {
    background-color: #ecfffc;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.left {
    position: absolute;
    top: 50px;
    z-index: 100;
    right: 50%;
    transform: translate(50%, 0%);
}

.right {
    position: absolute;
    bottom: 50px;
    z-index: 100;
    right: 50%;
    transform: translate(50%, 0%);
}

#images {
    z-index: 0;
    width: 100vw;
    height: 100vh;
    top: 0%;
    right: 0%;
    transform: none;
    background-size: cover;
    background-position: center;
}