@import url("https://use.typekit.net/yaf4dfs.css");

* {
    margin: 0;
    padding: 0;
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

body {
    background: #002854;
    padding: 0;
}

p {
    padding: 0;
}
