@import url("https://use.typekit.net/yaf4dfs.css");

* {
    margin: 0;
    padding: 0;
    font-family: sofia-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

body {
    background: #f3f3fa;
}

p {
    padding: 0;
}

card {
    display: inline-block;
    min-width: 850px;
    width: 80%;
    height: calc(100vh - 200px);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #222;
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%);
    background-image: url("/assets/Shoes Picture.jpg");
    background-size: cover;
    background-position: center;
}

.shoes-pic {
    background-image: url("/assets/Shoes Picture.jpg");
}

.beach-pic {
    background-image: url("/assets/Beach.jpg");
}

.inner {
    position: relative;
    display: inline-block;
    padding: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
}

h1 {
    font-weight: 700;
    font-size: 60px;
}

h2 {
    font-weight: 400;
    font-size: 30px;
}

h3 {
    font-family: sofia-pro,sans-serif;
    font-weight: 200;
    font-style: normal;
}

.inner > * {
    position: absolute;
    display: inline;
}

#prev, #next {
    display: inline-block;
    color: black;
    width: 20px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 30px;
    cursor: pointer;
    transition: .3s;
}

#prev:hover, #next:hover {
    text-shadow: 0px 0px 5px #222;
}

#prev {
    left: 7.5%;
}

#next {
    right: 7.5%;
}

a {
    text-decoration: none;
    color: inherit;
}